<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407760094478-brkirvb3s8loi227f3328hf2pmq5nkec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407760094478-brkirvb3s8loi227f3328hf2pmq5nkec</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>407760094478-43k3tphnba3p4f8hrkhooo4ilupm9l66.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMH1pGpGte5GNPyBiWp85AaoKCWWA9Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>407760094478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omornament.omOrnament</string>
	<key>PROJECT_ID</key>
	<string>om-ornament</string>
	<key>STORAGE_BUCKET</key>
	<string>om-ornament.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407760094478:ios:212176e2ad5815e465c35f</string>
	<key>DATABASE_URL</key>
	<string>https://om-ornament-default-rtdb.firebaseio.com</string>
</dict>
</plist>